<p style="color: green"><%= notice %></p>

<%= render @project %>

  <%= link_to "Back to projects",
      projects_path,
      class: " text-white no-underline font-semibold bg-blue-400 hover:bg-transparent hover:text-blue-700 rounded p-2 mx-2 "
  %>